
<p class="login_login">Login</p>


<form class="login_form" action="/login" method="post">
    <label class="login_label" for="">user_name</label>
    <input class="login_input" type="user_name" name="user_name">

    <label class="login_label" for="">password</label>
    <input class="login_input"type="password" name="password"><br><br>

    <button class="login_btn">login</button>
</form>
</div>
<div>
<a href="/signup">Signup Instead</a>
<a href="/">Home</a>
</div>