
<p class="login">Login</p>

<div class="login_form">
<form  action="/login" method="post">
    <label  for="">user_name</label>
    <input  type="user_name" name="user_name">

    <label  for="">password</label>
    <input type="password" name="password"><br><br>

    <button>login</button>
</form>

<a class="login_signup" href="/signup">Signup Instead</a>
<a class="login_home" href="/">Home</a>
</div>