<h1>Add a new game</h1>

<form action="/games" method=post>
    <label for="title">Title:</label><br><br>
    <input type="text" name="title" id="title"><br><br>
    <label for="year">Year:</label><br><br>
    <input type="text" name="year" id="year"><br><br>

    <label for="description">Description:</label><br><br>
    <textarea name="description" id="description" cols="30" rows="4"></textarea><br><br>

    



    <label for="rating">Rating:</label><br><br>
    <input type="text" name="rating" id="rating"><br><br>
    
    <label for="category">Category</label><br><br>
    <select name="category" id="category"><br><br>
        <option value="pocket list">Pocket List</option>
        <option value="playing">Playing</option>
        <option value="beaten">Beaten</option>
        <option value="completed">Completed</option>
        <option value="Trade-off">Trade-off</option>
    </select><br><br>

    <button>Submit</button>

</form>

