<p class="signup">Sign Up</p> 

<div class="signup_form">
<form action="/signup" method="post">
    <label class="signup_label" for="user_name">Username </label>
    <input class="signup_input" type="text" name="user_name" id="user_name">

    <label class="signup_label" for="email">Email </label>
    <input class="signup_input" type="text" name="email" id="email">

    <label class="signup_input" for="password">Password</label>
    <input class="signup_input" type="password" name="password" id="password"> 

    <button class="signup_btn">Sign up</button>
    
    
</form>

<a class="signup_home"href="/">Home</a>
<a class="signup_login" href="/login">Login Instead</a>
</div>